.card {
  width: 320px;
  border: solid 3px black;
  border-radius: 4px;
  margin: 0 auto;
}

.card-img {
  display: block;
  max-width: 320px;
  max-height: 300px;
  margin: 0 auto;
}

.card-text {
  padding: 8px;
  font-family: "Roboto";
  display: flex;
  flex-grow: 1;
}

.petName {
  font-size: 30px;
}

.petLastSeen {
  font-size: 13px;
}

.linkReport {
  width: 100px;
  display: flex;
  align-items: flex-end;
  bottom: 10px;
  color: #3e91dd;
  text-decoration: underline;
  font-size: 14px;
  margin: 0;
}
