.thumbsContainer {
  display: flex;
  align-items: center;
}

.imgContainer {
  margin: 0 auto;
}

.img {
  max-width: 329px;
  max-height: 200px;
  border: solid 3px black;
  border-radius: 4px;
}

.containerPreviewImg {
  width: 335;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.previewImg {
  max-width: 329px;
  max-height: 200px;
  border: solid 3px black;
  border-radius: 4px;
}
