.card {
  width: 320px;
  border: solid 3px black;
  border-radius: 4px;
  margin: 0 auto;
}

.card-img {
  display: block;
  width: 100%;
}

.card-text {
  padding: 8px;
  font-family: "Roboto";
  display: flex;
  flex-grow: 1;
}

.petName {
  font-size: 30px;
}

.petLastSeen {
  font-size: 13px;
}

.editBtn {
  width: 27px;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 5px;
}
