.root {
  width: 340px;
  margin: 0 auto;
}

.inputContainer {
  margin: 30px 0px;
}

.inputName {
  width: 327px;
  height: 40px;
  border: 2px solid #000000;
  border-radius: 4px;
  font-size: 20px;
}

.reportBtn {
  margin-bottom: 30px;
}
